/* * {
  outline: 1px solid red;
} */

:root {
  --header-padding: 1rem;
  --content-padding-top: calc((var(--header-padding) * 2) + 36.8px);
  --container-width: 80%;
  /* colors */
  --background-color: #fff;
  --shadow-color: #111;
  --shadow-color-hover: #61dafb;
}

body {
  overflow: hidden;
}

body.show-projects {
  overflow-y: auto;
}
h1 {
  cursor: default;
}
h2 {
  cursor: pointer;
}

/* TOP CONTAINER */
#main {
  width: 100vw;
}

#main > div {
  width: 100%;
}

/* HEADER */
div.header {
  position: fixed;
  z-index: 999;
  padding: 1rem 0;
  background-color: var(--background-color);
  box-shadow: 0px 5px 10px -5px var(--shadow-color);
}

div.header h1 {
  margin: 0;
}
/* HEADER & CONTENT */
div.container {
  position: relative;
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

div.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100vw);
}

div.header h1,
div.icon {
  transition: transform 0.5s ease-in-out;
}

body.show-projects div.header h1 {
  transform: translateX(-100%);
}
body.show-projects div.icon {
  transform: translateX(0);
}
/* ARROW LEFT ICON */
.arrow-left {
  width: 1rem;
  height: 1rem;
  border-top: solid 0.3rem #000;
  border-right: solid 0.3rem #000;
  transform: scale(1) rotate(-135deg);
  transition: transform 0.3s ease-in-out;
}

.arrow-left:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(-135deg);
}

/* CONTENT */
div.content {
  padding-top: var(--content-padding-top);
}

/* SECTIONS */
.inline {
  /* display: inline-block;
  float: left; */
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

/* SWIPE LEFT ON CLICK */
body.show-projects #intro {
  transform: translateX(-100%);
}

/* INTRO */
body.show-projects #projects {
  transform: translateX(0);
}

#intro {
  position: fixed;
}
div.grid {
  height: calc(100vh - var(--content-padding-top));
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a.link {
  margin: 2rem;
  color: inherit;

  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  /* Override transition all property */
  transition-property: box-shadow, transform;
}

a.link:hover {
  box-shadow: 0px 0px 10px 0px var(--shadow-color-hover);
  transform: scale(1.1);
}

div.box {
  /* background-color: #f5f5f5; */

  height: 200px;
  width: 200px;
  text-align: center;
}

div.box h2 {
  margin: 0;
}

/* PROJECTS */
#projects {
  transform: translateX(100%);
}
#projects > .container {
  min-height: 200vh;
  position: relative;
}

@media (min-width: 40rem) {
  .flex {
    flex-direction: row;
  }
}
